*{
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
}
body{
	background: #f9f9f9;
	font-family: arial serif;
}
.main_htwo {
font-size: 25px;
margin: 30px;
text-align: center;
}
#intro{
	font-size: 20px;
	text-align: center;
}
section h2{
	width:  100px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	border: 2px solid green;
}

section p{
	width:  1000px;
	margin-top: 20px;
	margin-bottom: 20px;
	margin-left: 20px;
	border: 2px green;
}
img{
	margin-left: 20px;
}